.addressDetails .title {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;

	/* identical to box height */

	/* Grey */
	color: #5e5e62;
}
.addressDetails .infoText {
	/* H3/R */
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	margin-top: 0.5rem;
	/* identical to box height */
	text-transform: capitalize;

	/* Black */
	color: #000000;
}
.addressDetails .sectionTitle,
.emergencyContacts .sectionTitle {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;

	/* identical to box height */
	text-transform: capitalize;

	/* Black */
	color: #000000;
}
.emergencyContacts .name {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;

	/* identical to box height */
	text-transform: capitalize;

	/* Black */
	color: #000000;
}
