/* .viewSOS {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 8px 10px;
	gap: 10px;
	color: white;
	width: 112px;
	height: 35px;

	background: #bb0606;
	border-radius: 4px;
} */
.viewSOS {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 800;
	font-size: 13px;
	line-height: 18px;

	/* identical to box height */
	display: flex;
	align-items: center;
	text-align: center;
	text-decoration-line: underline;
	text-transform: capitalize;

	/* Extra/Emergency */
	color: #bb0606;
	cursor: pointer;
}
