.form-label {
	position: relative;
	font-family: "Mulish";
	font-style: normal;
	font-weight: 800;
	font-size: 12.8px;
	line-height: 16px;

	text-transform: capitalize;

	color: #9fa2b4;
}
.form-control:focus,
.form-select:focus {
	/* border-color: initial !important; */
	box-shadow: none;
}
/* .form-control,
.form-select {
	border-color: inherit !important;
} */

.form-label.required::after {
	content: "*";
	color: red;
	position: absolute;
	top: 0;
	/* right: 0; */
}
.CountryCode {
	width: 6.3rem;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
	border-right-color: transparent;
}
.phoneInput {
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	border-left-color: transparent;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

input {
	border-radius: 8px;
}
