.tripTabTable {
	/* padding: 0 47px; */
	height: calc(100% - 64px);
}
.activTable {
	background-color: white;
	/* padding: 32px; */
}

.tripTabTable .nav-tabs:nth-child(2) {
	display: none;
}
.tripTabTable .nav-tabs .nav-link {
	border-width: 3px !important;
	border-style: solid !important;
	border-color: transparent !important;
	font-family: "Mulish";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	text-transform: capitalize;
	color: #5e5e62;
}
.tripTabTable .nav-tabs .nav-link.active::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 5px;
	background-color: #041342;
}
.tripTabTable .nav-tabs .nav-link.active {
	font-family: "Mulish";
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 23px;
	text-transform: capitalize;
	color: #041342 !important;
	position: relative;
	background-color: transparent !important;
	border-color: transparent !important;
}
.tripTabTable .nav-tabs {
	border-bottom: none !important;
}
.tripTabTable .nav-tabs .nav-link:focus,
.tripTabTable .nav-tabs .nav-link:hover {
	color: #041342;
	border-color: transparent !important;
	isolation: isolate;
}
.tripTabTable .addBtn {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* padding: 8px 16px; */
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 12.8px;
	line-height: 17px;
	text-transform: capitalize;
	cursor: pointer;
	color: #ffffff;
	gap: 4px;

	width: 123px;
	height: 40px;

	/* Blue (CTA)i */
	background: #041342;

	/* Background blur */
	backdrop-filter: blur(4px);

	/* Note: backdrop-filter has minimal browser support */
	border-radius: 8px;
}
.tripTabTable .actionWrapperBox {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 12px;
	gap: 6.25px;
	cursor: pointer;
	/* width: 91.25px;
	height: 40px; */

	background: #fafafa;
	backdrop-filter: blur(2.5px);

	/* Note: backdrop-filter has minimal browser support */
	border-radius: 8px;
}

.tripTabTable .tab-content {
	height: calc(100% - 52px);
}
.tripTabTable .tab-content .tab-pane.active {
	height: 100%;
}
.tripTabTable .tab-content .tab-pane.active > div {
	height: 100%;
}
.tripTabTable .tab-content .tab-pane.active .table-responsive {
	height: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.tripTabTable
	.tab-content
	.tab-pane.active
	.table-responsive::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.tripTabTable .tab-content .tab-pane.active .table-responsive {
	-ms-overflow-style: none;
	scrollbar-width: none; /* Firefox */
}
